<!-- These come from the fals_bootstrap Python library -->
{% extends 'bootstrap/base.html' %} 
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
    <title>{% block title %}{% endblock %}</title>
{% endblock %}

{% block styles %}
<!-- A very powerful feature is Jinja2’s super() function. This gives you the option of amending blocks instead of replacing them. -->
{{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}"  />
	<style>
		body { background: #e8f1f9; }
	</style>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css') }}"  />
{% endblock %}

    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css') }}"  /> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->



{% block body %}
    {% block navbar %}
    {{ super() }}
        <div class="navbar navbar-fixed-top">
            <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
            <a href="{{ url_for('about') }}" class="navbar-item">About</a>
            <a href="{{ url_for('contact') }}" class="navbar-item">Contact</a>
        </div>
    {% endblock %}

    <div class="body-content">
        {% block content %}
        {% endblock %}
        <hr/>
        <footer>
            <p>For all inquiries, please contact <a href = "mailto:mason.e.nixon@leidos.com">Mason Nixon</a></p>
        </footer>
    </div>
{% endblock %}


<!--
	TIPS about using Flask-Bootstrap:
	Flask-Bootstrap keeps the default Bootstrap stylesheet in the
	env/lib/python3.8/site-packages/flask_bootstrap/static/css/ directory.
	You can replace the CSS file. HOWEVER, when you reinstall requirements
	for your project, you would overwrite all the Bootstrap files
	with the defaults.
	Flask-Bootstrap templates are in
	env/lib/python3.8/site-packages/flask_bootstrap/static/templates
	Modifying the Bootstrap base.html template: use directives and
	Jinja2's super() function. See Jinja2 documentation and also this:
	https://pythonhosted.org/Flask-Bootstrap/basic-usage.html
-->